<div style="position: relative; display: inline-block;" data-aos="fade-zoom-in">
  <img class="banner" src="/images/banner.png" alt="Banner" />
  <img
    class="avatar rounded bottom-0 right-0 sm:bottom-[-20px] sm:right-[-30px] w-32 h-32 sm:w-52 sm:h-52"
    src="/images/avatar.webp"
    alt="Extra large avatar"
  />
</div>

<style>
  .banner {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    filter: opacity(50%);
  }

  .avatar {
    position: absolute;
  }
</style>
