---
import Badge from "../common/Badge.tsx";
const year = new Date().getFullYear();

interface Props {
  footer: string;
  nickname: string;
}

const { footer, nickname } = Astro.props;
---

<footer
  class="flex flex-col items-center bg-neutral-900 text-center text-white mt-40"
>
  <div class="container px-6 pt-6">
    <div class="mb-6 flex justify-center">
      {
        footer ? (
          footer
        ) : (
          <div>
            Developed with <Badge name="Astro" />, <Badge name="React" /> and{" "}
            <Badge name="Tailwindcss" />. Hosted on <Badge name="Netlify" />.
          </div>
        )
      }
    </div>
    <div class="mb-6 flex justify-center">
      © {year}
      {nickname}
    </div>
  </div>
</footer>
